<div id="footer" >

            <p class="copyright"> © <%= new Date().getFullYear() %>
		<% if (config.title) { %>
		<a href="<%= config.url %>" target="_blank" title="<%= config.title %>"><%= config.title %></a>
		<% } else {%>
		<a href="<%= config.url %>" title="<%= config.author %>"><%= config.author %></a>
		<% } %>
            | Powered by <a href="http://hexo.io" target="_blank" title="Hexo">Hexo</a> | Theme by <a href="http://gengbiao.me" target="_blank" title="Coney">Coney</a> | Hosted by <a href="http://gitcafe.com" target="_blank" title="GitCafe">GitCafe</a>
            </div>
