<!DOCTYPE HTML>
<!--[if lte IE 7]>
true<script src="http://letskillie6.googlecode.com/svn/trunk/letskillie6.zh_CN.pack.js"></script>
< ![endif]-->
<html <% if (config.language) { %>lang="<%= config.language %>"<% } %>>
<head>
  <meta charset="UTF-8">

  <%
  var title = page.title;
  if (is_archive()){
    title = '归档';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = '分类: ' + page.category;
  } else if (is_tag()){
    title = '标签: ' + page.tag;
  } else if(page.current > 1){
  title = '第'+page.current+'页';
  }
  %>
  
    <title><% if (title){ %><%= title %> | <%= config.title %><% }
               else { %><%= config.title %> | <%= config.subtitle %><% } %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, minimum-scale=1">
    <% if (config.author){ %>
    <meta name="author" content="<%= config.author %>"><% } %>
    <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (page.excerpt){ %>
  <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '').replace(/[\n,\r]/g,'') %>">
  <% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150).replace(/[\n,\r]/g,'') %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <% } %>
  <% if (page.keywords){ %>
    <meta name="keywords" content="<%= page.keywords %>">
  <% } else if (page.tags){ %>
  <%
    var thistags=[];
    page.tags.each(function(k){
    thistags.push(k.name);
    }) %>
    <meta name="keywords" content="<%= thistags %>">
  <% } %>
    <% if (theme.rss){ %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <% if (theme.favicon){ %>
    <link rel="icon" href="<%- config.root %><%- theme.favicon %>">
    <% } %>
    <% if (theme.apple_icon){ %>
    <link rel="apple-touch-icon" href="<%- config.root %><%- theme.apple_icon %>">
    <link rel="apple-touch-icon-precomposed" href="<%- config.root %><%- theme.apple_icon %>">
    <% } %>
    <%- css('css/style') %>

</head>
